*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
}
body{
font-family: 'Inter', sans-serif;

}
.video-blur{
background: rgba(210, 219, 242, 0.05);
box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(2.5px);
}
.banner{
    border-radius: 24px;
background: linear-gradient(180deg, #F0FAF8 0%, #D9FCF8 100%);
}
h1,h2,h3{
    color: #262626;
}
p{
    color: #525252;
}

.creative{
    border-radius: 24px;
background: linear-gradient(180deg, #F0FAF8 0%, #D9FCF8 100%);
}
.cta{
    background-image: url(/images/Bottom\ CTA\ Section.png);
    background-repeat: no-repeat;
    background-size: cover;
}